/* Container holding image and text*/
.welcome{
  position: relative;
  text-align: center;
  color: white;
  margin-top: 10px;
}

 .text{
  position: absolute;
  top:63%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.D{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 70px 70px;
  border: 1px solid white;
}

.fullstop{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 70px 70px;
  border: 1px solid white;
}

h1{
  font-size: 1.8em;
}

h4{
  font-size: 0.9em;
}

.about{
  text-align: center;
  padding: 9px;
}

.services{
  position: relative;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.services-text{
  position: absolute;
  top:63%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.whatwedo{
  width: 1100px;
  height: 500px;
  padding: 10px;
 
  text-align: center;
}

.design{
 
  width: 300px;
  float: left;
  padding: 10px;
  padding-left: 20px;
}

.development{
  margin-top: -20px;
  
  width: 300px;
  float: left;
  margin-left: 70px;
  padding: 10px;
  padding-left: 20px;
}

.product{
  
  float: right;
  width: 300px;
  padding: 10px;
  padding-left: 20px;
  margin-top: -50px;
}